# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.pow
*.smod

# Compiled Static libraries
*.lai
*.la
*.A
*.lib

# Executables
*.exe
*.OUT
*.app

# Debug datas
*.in
*.out
*.ans
*.err
*.debug

# CLion
./bin/*
./cmake-build-debug/*
./cmake-build-release/*
./cmake-build-relwithdebinfo/*
./.idea/*